<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:with="title='日志管理',active='page'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">日志管理</h4>
                    </div>
                    <form th:action="@{/admin/log/query}" class="form-inline" th:method="get" enctype="multipart/form-data"  id="search-form">
                        <div class="col-md-12">
                            <input type="hidden" name="page" value="1"/>
                            <input type="hidden" name="pageSize" value="15"/>
                            <div class="form-group col-md-4" style="padding: 0px;margin-right: 5px">
                                <select id="action" name="action" class="select2 form-control"
                                        data-placeholder="请选择动作" th:value="${logQueryParam}?${logQueryParam.action}">
                                    <th:block th:each="action : ${commons.logActions()}">
                                        <option th:value="${action}" th:text="${action}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group col-md-4" style="padding: 0px;margin-right: 5px">
                                <input name="data" id="data" type="text" class="form-control" placeholder="请输入关键数据"
                                       th:value="${logQueryParam}?${logQueryParam.data}"/>
                            </div>
                            <div class="form-group col-md-3" style="padding: 0px;margin-right: 5px">
                                <input type="submit" value="查询" class="btn submit"/>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-1">动作</th>
                                <th class="col-md-4">数据</th>
                                <th class="col-md-1">来源</th>
                                <th class="col-md-2">IP</th>
                                <th class="col-md-2">时间</th>
                                <th class="col-md-1">访问者</th>
                                <th class="col-md-1">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="log : ${logs.list}">
                                <tr th:id="${log.id}">
                                    <td th:text="${log.action}"></td>
                                    <th:block th:if="${'访问站点' == log.action}">
                                        <td>
                                            <p th:text="${log.url}" style="backgroup-color:white;"></p>
                                        </td>
                                    </th:block>
                                    <th:block th:unless="${'访问站点' == log.action}">
                                        <td th:text="${log.data}"></td>
                                    </th:block>

                                    <td th:text="${log.browser}"></td>


                                    <th:block th:if="${'0:0:0:0:0:0:0:1' == log.ip}">
                                        <td>
                                            <p>本机</p>
                                        </td>
                                    </th:block>
                                    <th:block th:unless="${'0:0:0:0:0:0:0:1' == log.ip}">
                                        <td th:text="${log.ip}"></td>
                                    </th:block>
                                    <td th:text="${commons.fmtdate(log.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${log.author}"></td>
                                    <td>
                                        <a href="javascript:void(0)" th:onclick="'deleteLog('+${log.id}+');'"
                                           class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                                class="fa fa-trash-o"></i> <span>删除</span></a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <div th:replace="comm/macros :: pageAdminNav(${logs})"></div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    function deleteLog(logId) {
        tale.alertConfirm({
            title: '确定删除这条日志吗?',
            then: function () {
                tale.post({
                    url: '/admin/log/delete',
                    data: {logId: logId},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('日志删除成功');
                            location.href = "/admin/log";
                        } else {
                            tale.alertError(result.msg || '日志删除失败');
                        }
                    }
                });
            }
        });
    }

    function queryLog() {
        tale.get({
            url: '/admin/log',
            data: {
                action: $("#action").val(),
                data: $("#data").val()
            },
            success: function (result) {
                if (result && result.success) {
                    tale.alertOkAndReload('日志删除成功');
                    location.href = "/admin/log";
                } else {
                    tale.alertError(result.msg || '日志删除失败');
                }
            }
        });
    }

    /*]]>*/
</script>
</body>
</html>