<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="rightbar">
<style type="text/css">
    .rightbar-container {
        max-width: 400px;
        height: auto;
        min-height: 800px;
        margin-top: 100px;
    }
</style>
<body>
<div class="rightbar-container">
    <div class="row rightbar-layer">
        <h3 class="rightbar-title">公告</h3>
        <p>本站文章仅供参考,欢迎留言交流!!!</p>
    </div>
    <div class="row rightbar-layer">
        <h3 class="rightbar-title">我的微信</h3>
        <img style="width: 70%;height:70%;margin: 10px 30px;" th:src="@{/admin/images/myqrcode.png}" alt="朱晓龙的微信二维码"
             title="微信扫一扫加我好友"/>
    </div>
    <div class="row rightbar-layer">
        <h3 class="rightbar-title">文章分类</h3>
        <th:block th:each="c : ${commons.categories()}">
            <div class="btn-group m-b-10">
                <a th:href="@{/category/}+${c.name}" th:target="_blank">
                    <button type="button" style="margin: 5px;"
                            th:class="'btn btn-sm btn-'+${adminCommons.randColor()}+' waves-effect waves-light'">
                        <th:block th:text="${c.name}"></th:block>
                        <th:block th:text="' ('+${c.count}+')'"/>
                    </button>
                </a>
            </div>
        </th:block>
    </div>
    <div class="row rightbar-layer">
        <h3 class="rightbar-title">归档</h3>
        <th:block th:each="c : ${commons.archives()}">
            <div class="btn-group m-b-10">
                <a th:href="@{/archive/}+${c.date}" th:target="_blank">
                    <th:block th:text="${c.date}"></th:block>
                    <th:block th:text="' ('+${c.count}+')'"/>
                </a>
            </div>
        </th:block>
    </div>
    <div class="row rightbar-layer">
        <h3 class="rightbar-title">标签</h3>
        <th:block th:each="c : ${commons.tags()}">
            <div class="btn-group m-b-10">
                <a th:href="@{/tag/}+${c.name}" th:target="_blank">
                    <button type="button" style="margin: 5px;"
                            th:class="'btn btn-sm btn-'+${adminCommons.randColor()}+' waves-effect waves-light'">
                        <th:block th:text="${c.name}"></th:block>
                        <th:block th:text="' ('+${c.count}+')'"/>
                    </button>
                </a>
            </div>
        </th:block>
    </div>
</div>
</body>
<script th:src="@{//cdn.bootcss.com/headroom/0.9.1/headroom.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js}"></script>
</html>